<section class="hero is-small -has-background-secondary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-centered has-text-white">Contact Me</h1>
      <div class="columns is-mobile is-centered wow bounceInUp">
        <div class="column is-10">
          <form action="https://formspree.io/mvobwgkl" method="POST">
            <div class="field">
              <label class="label has-text-white">Name</label>
              <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Name" name="name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-white">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Email" name="_replyto">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-white">Message</label>
              <div class="control">
                <textarea class="textarea" placeholder="Message" name="message"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input button is-link" type="submit" value="Send">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
