<section class="hero -has-background-secondary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-7 has-text-centered">
          <a href="https://www.linkedin.com/in/jaime-jazareno-2bb461140/">
            <span class="icon is-large has-text-white">
              <i class="fab fa-linkedin"></i>
            </span>
          </a>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon is-large has-text-white">
              <i class="fab fa-github"></i>
            </span>
          </a>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon is-large has-text-white">
              <i class="fab fa-twitter-square"></i>
            </span>
          </a>
          <a href="https://instagram.com/jaimewave">
            <span class="icon is-large has-text-white">
              <i class="fab fa-instagram"></i>
            </span>
          </a>
          <a href="mailto:contact@jaimejazarenoiii.me">
            <span class="icon is-large has-text-white">
              <i class="fas fa-envelope"></i>
            </span>
          </a>
          <a href="tel:+639175772063">
            <span class="icon is-large has-text-white">
              <i class="fas fa-phone-alt"></i>
            </span>
          </a>
          <br>
          <p class="has-text-white">&copy; Jaime Jazareno III<br>2020</p>
        </div>
      </div>
    </div>
  </div>
</section>
