<section class="hero is-small -has-background-primary" id="home">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline is-vcentered is-mobile reverse-column-order">
        <div class="column is-12-mobile is-half-desktop">
          <center><div class="profileimage">
            <img src = "assets/images/photo.jpg"/> 
            </div></center>
            <br>
          <h1 class="title has-text-white has-text-centered">Hi, I'm Jaime Jazareno III</h1>
          <h1 class="subtitle has-text-white has-text-centered">I'm a <b>Software Engineer</b> and programming is
            my passion.</h1>
        </div>
        <div class="column is-12-mobile is-half-desktop">
          <figure class="image">
            <img
              src="assets/images/set1.png">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
