<nav class="navbar is-fixed-top -has-background-primary">
  <div class="container">
    <div class="navbar-brand">
      <span class="has-text-white navbar-burger burger"
            data-target="navMenu" id="navToggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu -has-background-secondary">
      <div class="navbar-end">
        <a class="has-text-white navbar-item" href="#home">
          Home
        </a>
        <a class="navbar-item has-text-white" href="#portfolio">
          Portfolio
        </a>
        <a class="navbar-item has-text-white" href="#contact">
          Contact Me
        </a>
      </div>
    </div>
  </div>
</nav>
